html{
    background-color: rgb(238, 251, 252);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  *{
    box-sizing: border-box;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  h1 {
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-left: 420px;
    color: rgb(65, 65, 65);
  }

  .row{
    background-color: white;
    background-size: 100%;
    height: 700px;
    width: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 145px;
    margin-top: 50px;
    padding-top: 5px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .service-title {
    font-size: small;
    margin-left: 60px;
  }

  .column {
    float: left;
    width: 19%;
    padding-left: 37px;
    padding-top: 25px;
    align-items: center;
    justify-content: center;
  }

  .checkbox-container {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid gainsboro;
    background-color: white;
    border-radius: 5px;
    color: transparent;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkbox-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }

  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .checkbox-container input:checked ~ .checkmark {
    background-color: rgb(32, 189, 32);
  }


  .checkbox-card {
    padding: 25px;
    text-align: center;
    background-color: white;
    border: 2px solid gainsboro;
    border-radius: 10px;
    height: 110px;
    width: 200px;
  }

  p{
    font-size: 14px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 100;
  }

  hr{
    margin-top: -440px;
    background-color: #ccc;
    width: 72%;
    height: 1px;
    border: 0 none;
  }

  .loan-container{
    display: table;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
  }

  .level{
    margin-left: -140px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;
  }

  .level2{
    margin-left: -140px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 40px;
  }

  .level3{
    margin-left: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: -85px;
  }

  .input {
    margin-top: 50px;
    background-color: rgb(243, 247, 252);
    border: 1px solid rgb(197, 194, 194);
    height: 45px;
    width: 225px;
    box-shadow: 0px 2px 1px 0px rgb(161, 159, 159);
    outline: none;
  }

  .input2 {
    margin-top: 10px;
    background-color: rgb(243, 247, 252);
    border: 1px solid rgb(197, 194, 194);
    height: 45px;
    width: 225px;
    box-shadow: 0px 2px 1px 0px rgb(161, 159, 159);
    cursor: pointer;
    outline: none;
  }

  .input3 {
    margin-top: 10px;
    background-color: rgb(243, 247, 252);
    border: 1px solid rgb(197, 194, 194);
    height: 45px;
    width: 225px;
    box-shadow: 0px 2px 1px 0px rgb(161, 159, 159);
    outline: none;
  }


  .hr2 {
    margin-top: 40px;
    margin-left: -150px;
    background-color: #ccc;
    width: 110%;
    height: 1px;
    border: 0 none;
  }

  .results table {
    background-size: 240px 240px;
    width: 420px;
    height: 270px;
    float: right;
    margin-top: -390px;
    margin-right: 200px;
  }

  th, td {
    text-align: left;
    padding: 12px;
    font-size: 15px;
  }

  td {
      color: rgb(83, 83, 83);
      font-size: 13.5px;
  }

  tr:nth-child(even) {
    background-color: rgb(243, 247, 252);
  }

  .interest-input {
      width: 35px;
      height: 25px;
      margin-left: 275px;
      font-size: 16px;
      border: none;
      outline: none;
  }

  .management-span, .interest-span, .contract-span{
    font-size: 18px;
    color: black;
  }

  .management-input {
      width: 30px;
      height: 25px;
      margin-right: 10px;
      margin-left: 193px;
      font-size: 18px;
      padding-left: 20px;
      border: none;
    outline: none;
  }

  .contract-input {
    width: 30px;
    height: 25px;
    margin-right: 10px;
    margin-left: 240px;
    font-size: 17px;
    padding-left: 7px;
    border: none;
    outline: none;
    background-color: transparent;
  }

  #period {
    width: 30px;
      height: 25px;
      margin-right: 5px;
      margin-left: 250px;
      font-size: 16px;
      padding-left: 20px;
      border: none;
    outline: none;
    color: black;
  }

  .payment-monthly {
    background-color: rgb(223, 239, 248);
  }

  #monthlyPayment {
    width: 30px;
      height: 25px;
      margin-right: 5px;
      margin-left: 210px;
      font-size: 16px;
      padding-left: 20px;
      border: none;
    outline: none;
    color: rgb(32, 189, 32);
  }

  #project {
    width: 30px;
      height: 25px;
      margin-right: 5px;
      margin-left: 180px;
      font-size: 16px;
      padding-left: 20px;
      border: none;
    outline: none;
    color: black;
  }

  .box-minmax{
    margin-top: 10px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: rgb(80, 80, 80);
  }

  .box-minmax span:first-child{
    margin-left: 5px;
  }

  .rs-range {
      margin-top: 15px;
      width: 500px;
      height: 20px;
      -webkit-appearance: none;
  }

  .rs-range:focus {
      outline: none;
  }

    .rs-range::-webkit-slider-runnable-track {
        width: 100%;
        height: 9px;
        cursor: pointer;
        box-shadow: none;
        background: #9fda93;
        border-radius: 7px;
    }

    .rs-range::-moz-range-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        box-shadow: none;
        background: rgb(32, 189, 32);
        border-radius: 0px;
    }

    .rs-range::-webkit-slider-thumb {
        box-shadow: none;
        height: 25px;
        width: 25px;
        border-radius: 22px;
        background: rgb(32, 189, 32);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -9px;
    }

    .rs-range::-moz-range-thumb{
        box-shadow: none;
        border: 0px solid black;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        height: 10px;
        width: 22px;
        border-radius: 22px;
        background: rgb(32, 189, 32);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
    }

    .rs-range::-moz-focus-outer {
        border: 0;
    }

    .rs-label {
        position: relative;
        transform-origin: center center;
        display: block;
        width: 75px;
        height: 30px;
        background: rgb(32, 189, 32);
        border-radius: 20px;
        line-height: 5px;
        text-align: center;
        font-weight: bold;
        padding-top: 7px;
        box-sizing: border-box;
        margin-top: 30px;
        margin-left: -35px;
        left: attr(value);
        color: black;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 15px;
        color: white;
    }

    .rs-label::after {
        content: "€";
        font-size: 15px;
        letter-spacing: 0.1em;
        margin-top: 5px;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .button {
      margin-top: 55px;
      align-items: center;
      justify-content: center;
      margin-left: 250px;
      background-color: rgb(60, 194, 60);
      border: none;
      height: 50px;
      width: 230px;
      border-radius: 25px;
      font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    }


    @media screen and (max-width: 1376px) {
      .row {
        margin-left: 110px;
      }

      .column{
        width: 19%;
      }

      .level{
        margin-left: -170px;
      }

      .hr2{
        margin-left: -190px;
      }

      .level2 {
        margin-left: -170px;
      }

      .level3{
        margin-left: 70px;
      }

      .button{
        margin-left: 200px;
      }

      
    }

    @media screen and (max-width: 1360px) {
      .checkbox-card{
        width: 180px;
      }
    }

    @media screen and (max-width: 1331px) {
      .hr2{
        margin-left: -235px;
      }

      .level{
        margin-left: -250px;
      }

      .level2{
        margin-left: -240px;
      }

      .level3{
        margin-left: 20px;
      }

      .row{
        margin-left: 70px;
      }

      hr{
        margin-left: 100px;
      }

      .button {
        margin-left: 140px;
      }
    }

    @media screen and (max-width: 1236px) {
      .checkbox-card{
        width: 160px;
        padding: 15px;
      }

      .level{
        margin-left: -270px;
      }

      .level2{
        margin-left: -260px;
      }

      .level3{
        margin-left: -15px;
      }

      .hr2{
        margin-left: -260px;
        width: 145%;
      }

      h1{
        margin-left: 350px;
      }

      .button{
        margin-left: 100px;
      }
    }

    @media screen and (max-width: 1222px) {
      .results table{
        width: 30%;
      }

      .interest-input{
        margin-left: 180px;
      }

      .contract-input{
        margin-left: 145px;
      }

      .management-input{
        margin-left: 100px;
      }

      #period{
        margin-left: 150px;
      }

      #project{
        margin-left: 95px;
      }
    }

    @media screen and (max-width: 1133px) {
      .rs-range{
        width: 380px;
        margin-left: 50px;
      }

      .rs-label{
        margin-left: 5px;
        margin-right: 50px;
      }

      .box-minmax{
        width: 380px;
        margin-left: 50px;
      }  
      
      .hr2{
        width: 115%;
        margin-left: -220px;
      }

      .level2{
        margin-left: -230px;
      }

      .level3{
        margin-left: -30px;
      }

      .input2{
        width: 190px;
      }

      .input3{
        width: 190px;
      }
    }

    @media screen and (max-width: 1225px) {
      #monthlyPayment{
        margin-left: 190px;
      }
    }

    @media screen and (max-width: 1222px) {
      #monthlyPayment{
        margin-left: 150px;
      }
    }

    @media screen and (max-width: 1172px) {
      #monthlyPayment{
        margin-left: 140px;
      }
    }

    @media screen and (max-width: 1137px) {
      #monthlyPayment{
        margin-left: 135px;
      }
    }

    @media screen and (max-width: 1121px) {
      #monthlyPayment{
        margin-left: 130px;
      }
    }

    @media screen and (max-width: 1103px) {
      #monthlyPayment{
        margin-left: 120px;
      }

      .row{
        margin-left: 50px;
      }

      .button{
        margin-left: 60px;
      }
    }

    @media screen and (max-width: 1090px) {
      #project{
        margin-left: 75px;
      }
    }

    @media screen and (max-width: 1077px) {
      #period{
        margin-left: 140px;
      }

      .checkbox-card{
        width: 150px;
      }
    }

    @media screen and (max-width: 1071px) {
      #monthlyPayment{
        margin-left: 100px;
      }
    }

    @media screen and (max-width: 1050px) {
      #period{
        margin-left: 130px;
      }
    }

    @media screen and (max-width: 1043px) {
      .results table{
        margin-top: -380px;
        margin-left: -300px;
        width: 70%;
      }

      h1{
        margin-left: 280px;
      }

      .row{
        height: 980px;
      }

      .column{
        margin-left: -3px;
      }

      hr{
        margin-top: -720px;
      }

      .level-left{
        margin-left: 30px;
      }

      .rs-range{
        width: 100%;
        margin-left: 100px;
      }

      .box-minmax{
        width: 100%;
        margin-left: 100px;
      }

      .rs-label{
        margin-left: 90px;
      }

      .hr2{
        width: 195%;
        margin-left: -170px;
        margin-top: 20px;
      }

      .level2{
        margin-left: -165px;
      }

      .input2{
        width: 250px;
      }

      .level3{
        margin-left: 140px;
        width: 150px;
      }

      .input3{
        width: 250px;
      }

      .button{
        margin-top: 350px;
        margin-left: 10px;
      }

      #monthlyPayment {
        margin-left: 480px;
      }

      #interestInput{
        margin-left: 570px;
      }

      #contractInput{
        margin-left: 535px;
      }

      #managementInput{
        margin-left: 490px;
      }

      #period{
        margin-left: 530px;
      }

      #project{
        margin-left: 460px;
      }
    }

    @media screen and (max-width: 1006px) {
      .checkbox-card{
        width: 150px;
      }

      .column{
        width: 30%;
        margin-left: 15px;
      }

      .row{
        height: 1100px;
        width: 70%;
        margin-left: 90px;
      }

      h1{
        margin-left: 210px;
      }

      hr{
        margin-top: -700px;
        width: 60%;
        margin-left: 140px;
      }

      .level-left{
        margin-left: 70px;
      }

      .rs-range{
        margin-left: 100px;
      }

      .rs-label{
        margin-left: 80px;
      }

      .box-minmax{
        margin-left: 100px;
      }

      .hr2{
        margin-left: -180px;
        width: 218%;
      }

      .level2{
        margin-left: -170px;
      }

      .level3{
        margin-left: 100px;
      }

      .button{
        margin-top: 340px;
        margin-left: -20px;
      }

      #monthlyPayment {
        margin-left: 460px;
      }

      #interestInput{
        margin-left: 550px;
      }

      #contractInput{
        margin-left: 515px;
      }

      #managementInput{
        margin-left: 470px;
      }

      #period{
        margin-left: 510px;
      }

      #project{
        margin-left: 440px;
      }
    }

    @media screen and (max-width: 976px) {
      .column{
        width: 45%;
        margin-left: 33px;
      }

      .row{
        height: 1240px;
        width: 70%;
      }

      .results table{
        width: 60%;
        margin-right: 250px;
      }

      #monthlyPayment {
        margin-left: 325px;
      }

      #interestInput{
        margin-left: 390px;
      }

      #contractInput{
        margin-left: 350px;
      }

      #managementInput{
        margin-left: 300px;
      }

      #period{
        margin-left: 350px;
      }

      #project{
        margin-left: 285px;
      }
     
    }

    @media screen and (max-width: 957px) {
      .row{
        width: 70%;
        height: 1400px;
        margin-left: 150px;
      }

      .column{
        margin-left: 100px;
      }

      h1{
        margin-left: 200px;
      }

      .level-left{
        margin-left: 110px;
      }

      .service-title{
        margin-left: 310px;
      }

      .checkbox-card{
        width: 400px;
        height: 90px;
      }

      hr{
        width: 60%;
        margin-left: 200px;
      }

      .rs-range{
        width: 70%;
        margin-left: 220px;
      }

      .box-minmax{
        width: 70%;
        margin-left: 220px;
      }

      .rs-label{
        margin-left: 140px;
      }

      .hr2{
        margin-left: -140px;
        width: 180%;
      }

      .level2{
        margin-left: -140px;
      }

      .level3{
        margin-left: 150px;
      }

      .results table {
        margin-right: 180px;
      }

      .button{
        margin-left: 20px;
      }
    }

    @media screen and (max-width: 885px) {
      .results table{
        margin-right: 140px;
      }

      .rs-range{
        margin-left: 200px;
      }

      .box-minmax{
        margin-left: 200px;
      }

      #monthlyPayment {
        margin-left: 280px;
      }

      #interestInput{
        margin-left: 350px;
      }

      #contractInput{
        margin-left: 310px;
      }

      #managementInput{
        margin-left: 260px;
      }

      #period{
        margin-left: 310px;
      }

      #project{
        margin-left: 245px;
      }

      .level2{
        margin-left: -160px;
      }

      .level3{
        margin-left: 110px;
      }
    }

    @media screen and (max-width: 826px) {
      .row{
        width: 55%;
        margin-left: 200px;
      }

      .service-title{
        margin-left: 200px;
      }

      h1{
        margin-left: 80px;
      }

      .checkbox-card{
        width: 240px;
        margin-left: -30px;
      }

      hr{
        width: 50%;
        margin-left: 220px;
      }

      .level-left{
        margin-left: 150px;
      }

      .rs-range{
        width: 50%;
      }

      .box-minmax{
        width: 50%;
      }

      .hr2{
        width: 160%;
        margin-left: -120px;
      }

      .level2{
        margin-left: -120px;
      }

      .level3{
        margin-left: 90px;
      }

      .input2{
        width: 170px;
      }

      .input3{
        width: 170px;
      }

      .results table{
        width: 50%;
        margin-right: 175px;
      }

      #monthlyPayment {
        margin-left: 170px;
      }

      #interestInput{
        margin-left: 250px;
      }

      #contractInput{
        margin-left: 210px;
      }

      #managementInput{
        margin-left: 160px;
      }

      #period{
        margin-left: 210px;
      }

      #project{
        margin-left: 145px;
      }

      .button{
        margin-left: -30px;
      }
    }

    @media screen and (max-width: 772px) {
      .row{
        width: 40%;
        padding: 20px;
        height: 1500px;
      }

      .checkbox-card{
        margin-left: -120px;
      }

      .service-title{
        margin-left: 110px;
      }

      h1{
        margin-left: 5px;
        font-size: 23px;
      }

      hr{
        width: 35%;
        margin-top: -790px;
      }

      .rs-range{
        width: 40%;
        margin-left: 200px;
      }

      .rs-label{
        margin-left: 130px;
        width: 50px;
        position: relative;
      }

      .box-minmax{
        width: 40%;
        margin-left: 170px;
      }

      .hr2{
        width: 240%;
      }

      .level2{
        margin-left: -80px;
      }

      .level3{
        margin-top: 40px;
        margin-left: -80px;
      }

      #monthlyPayment {
        margin-left: 50px;
      }

      #interestInput{
        margin-left: 130px;
      }

      #contractInput{
        margin-left: 90px;
      }

      #managementInput{
        margin-left: 40px;
      }

      #period{
        margin-left: 110px;
      }

      #project{
        margin-left: 15px;
      }

      .results table{
        width: 37%;
        margin-right: 265px;
      }

      .button{
        margin-left:-100px;
        width: 200px;
        margin-top: 335px;
        height: 40px;
      }

    }







    



















   